[defaults]
host_key_checking  = False
remote_user        = ubuntu
private_key_file   = ~/.ssh/filmstars_ec2.pem
roles_path         = ./roles
stdout_callback    = default
result_format      = yaml
interpreter_python = auto_silent

[ssh_connection]
ssh_args   = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ServerAliveInterval=30
pipelining = True
